<!DOCTYPE html>
<html>
<head>
	<title>About me</title>
</head>
<body>
	<div>
		<h1>Hi!</h1>
		<p>I am Geophysics student, welcome and I hope you find something interesting over here</p>
	</div>
</body>
</html>
