<!DOCTYPE html>
<html>
<head>
	<title>Future studies</title>
	<%- include ("../partials/header.ejs") %>
</head>
<body>
	<%- include ("../partials/nav.ejs") %>
	<div>
		<h1>Hi!</h1>
		<p>This page will contains some of the targets I wnat to reach for possible investigations</p>
		<p>As I mentioned in the about me pages, I wish to contribute to the techonological field inside Geophysics.</p>
		<ul>
			<img height="200" width="200" src="/btn/btn4.svg">
			<li>hidraulic machines</li>
			<li>Geotermal energy</li>
			<li>Systems more efficient for the acuifers extractions, and groundwater consumption in general</li>
		</ul>
	</div>
	<%- include ("../partials/footer.ejs") %>
</body>
</html>