<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="">
      <img height="200" width="200" src="/dibujo.svg">
    </a>
    <h1>Welcome</h1>
    <p>Making some boring things</p>
    <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-nodejs"><span class="glyphicon glyphicon-flash"></span>Nahuel Molina</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/node-js-getting-started"><span class="glyphicon glyphicon-download"></span>Source on GitHub</a>
  </div>
</div>

  <%- include ("../partials/footer.ejs") %>


</body>
</html>
